<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>农事助手</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../libs/css/mui.min.css">
		<link rel="stylesheet" href="../css/comm.css">
		<style type="text/css">
			.base-area {
				width: 50px;
				height: 16px;
				line-height: 16px;
				background: #3ED4FF;
				border-radius: 4px;
				color: #fff;
				text-align: center !important;
			}
			.edit-item .details {
				text-align: right;
				padding-right: 15px;
			}
			.edit-item .details span {
				color: #3ED4FF;
			}
		</style>
	</head>

	<body>
		<div id="app"></div>
		<script type="text/x-template" id="indexTpl">
			<div>
				<div id="pullrefresh" class="mui-content">
					<ul class="mui-table-view mbtenpx-list">
						<li class="mui-table-view-cell mui-media" v-for="d in baseListData">
							<div class="mui-row" @tap="baseChange(d)">
								<div class="mui-col-sm-9 mui-col-xs-9">
									<img v-if="d.faceImg" class="mui-media-object mui-pull-left" :src="d.faceImg">
									<img v-else class="mui-media-object mui-pull-left" src="../images/often.png" />

									<div class="mui-media-body">
										<span class="fruit-name" style="font-size: 16px;">{{d.name}}</span>
										<p class='mui-ellipsis'>海拔：{{d.altitude}}m</p>
										<p class='mui-ellipsis'>经纬度：{{d.coordinate}}</p>
										<p class='mui-ellipsis'>降水：{{d.precipitation}} m/l | 温差 {{d.diurnalTemperatureDifference}}</p>
									</div>
								</div>
								<div class="mui-col-sm-3 mui-col-xs-3 right">
									<div class="mui-pull-right">
										<p class='mui-ellipsis base-area'>{{d.area}}亩</p>
									</div>
								</div>
							</div>
							<div class="mui-row edit-item">
								<h6 class="mui-col-xs-6">创建时间  {{d.createTime}}</h6>
								<h6 class="mui-col-xs-3" @tap="goBaseMainEdit(d.baseId)" v-show="!isChangeBase"><span class="mui-icon mui-icon mui-icon-compose"></span>编辑</h6>
								<h6 class="mui-col-xs-3" @tap="deletaBaseById(d.baseId)" v-show="!isChangeBase"><span class="mui-icon mui-icon mui-icon mui-icon-trash"></span>删除</h6>
								<h6 class="mui-col-xs-6 details" v-show="isChangeBase"><span @tap="toBadsDetails(d)">查看详情</span></h6>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</script>

	</body>
	<script src="../libs/js/mui.min.js"></script>
	<script src="../libs/js/vue.min.js"></script>
	<script src="../js/comm.js"></script>
	<script type="text/javascript">
		var vm = new Vue({
			el: '#app',
			template: indexTpl,
			data: function() {
				return {
					loginUserInfo: JSON.parse(localStorage.getItem('loginUserInfo')),
					pageSize: 10,
					pageNum: 1,
					// 总页数
					pageTatol: 0,
					// 基地列表数据
					baseListData: [],
					// 是否为切换基地
					isChangeBase: false
				}
			},
			mounted: function() {
				var vm = this;
				/**
				 * 监听refresh事件刷新页面
				 */
				window.addEventListener('refresh', function(e) {
					vm.pageNum = 1;
					vm.getPlanBaseInfo(false);
				})
				/**
				 * 获取切换基地参数
				 */
				mui.plusReady(function() {
					var self = plus.webview.currentWebview();
					if(self.type) {
						vm.isChangeBase = true;
					}
				})
				/**
				 * 初始化
				 */
				mui.init({
					pullRefresh: {
						container: '#pullrefresh',
						down: {
							style: 'circle',
							auto: true,
							callback: function() {
								vm.pageNum = 1;
								vm.getPlanBaseInfo(false, function() {
									mui('#pullrefresh').pullRefresh().endPulldown();
								});
							}
						},
						up: {
							contentrefresh: '正在加载...',
							callback: function() {
								++vm.pageNum;
								vm.getPlanBaseInfo(true);
								mui('#pullrefresh').pullRefresh().endPullupToRefresh((vm.pageNum > vm.pageTatol));
							}
						}
					}
				});
			},
			methods: {
				/**
				 * 获取基地列表
				 * @param {Boolean} isUp 是否为上拉加载调用
				 * @param {Function} cb 关闭下拉刷新
				 */
				getPlanBaseInfo: function(isUp, cb) {
					var vm = this;
					getDataList(APIURL + 'business/planBase/list', {
						enterpriseId: vm.loginUserInfo.enterpriseId,
						pageSize: vm.pageSize,
						pageNum: vm.pageNum
					}, function(d) {
						if(d && d.state === 0) {
							vm.pageTatol = Math.ceil(d.dataCount / vm.pageSize);
							if(d.aaData && d.aaData.length > 0) {
								// 处理基地封面图片
								for(var i in d.aaData) {
									if(d.aaData[i].photopathlist) {
										d.aaData[i].faceImg = IMGURL + d.aaData[i].photopathlist[0].path + '&image/jpeg';
									}
								}

								if(isUp) {
									vm.baseListData = vm.baseListData.concat(d.aaData);
								} else {
									vm.baseListData = d.aaData;
								}
							} else {
								if(!isUp) {
									vm.baseListData = [];
								}
								mui.toast('没有更多数据了')
							}
						}
						cb && cb();
					})
				},
				/**
				 * 切换基地操作
				 * @param {Object} baseInfo
				 */
				baseChange: function(baseInfo) {
					var list = plus.webview.currentWebview().opener();
					mui.fire(list, 'getItem', {
						baseInfo: baseInfo
					});
					mui.back();
				},
				/**
				 * 跳转基地详情
				 * @param {Object} baseInfo
				 */
				toBadsDetails: function(baseInfo) {
					mui.openWindow({
						url: 'base_details.html',
						id: 'base_details',
						extras: {
							baseInfo: baseInfo
						},
						styles: {
							titleNView: {
								titleText: "基地详情",
								backgroundColor: "#70C93E",
								titleColor: "#fff",
								autoBackButton: true,
								titleSize: "18px",
							}
						}
					})
				},
				/**
				 * 跳转添加基地
				 */
				goBaseMainAdd: function() {
					mui.openWindow({
						url: 'base_list_add.html',
						id: 'base_list_add',
						extras: {
							showTplId: 1
						}
					})
				},
				/**
				 * 跳转编辑基地
				 * @param {Object} baseId
				 */
				goBaseMainEdit: function(baseId) {
					mui.openWindow({
						url: 'base_list_add.html',
						id: 'base_list_add',
						extras: {
							baseId: baseId
						}
					})
				},
				/**
				 * 删除基地
				 * @param {Object} baseId
				 */
				deletaBaseById: function(baseId) {
					var vm = this;
					var msg = '确认删除?';
					var title = '提示';
					var btnValue = ['确认', '取消'];
					mui.confirm(msg, title, btnValue, function(e) {
						if(e.index == 0) {
							getDataList(APIURL + 'business/planBase/deleteBybaseId', {
								baseId: baseId,
							}, function(d) {
								if(d && d.state === 0) {
									// 先删除列表数据中的
									for(var i in vm.baseListData) {
										if(vm.baseListData[i].baseId == baseId) {
											vm.baseListData.splice(i, 1);
										}
									}
									mui.toast('删除成功');
								} else {
									mui.toast('删除失败');
								}
							})
						}
					})
				},
				/**
				 * 切换基地返回
				 * @param {Object} baseInfo
				 */
				toBackIndexHome: function(baseInfo) {
					console.log(JSON.stringify(baseInfo))
				}
			}
		});
	</script>

</html>