<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>农事助手</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../libs/css/mui.min.css">
		<link rel="stylesheet" href="../libs/css/mui.picker.min.css" />
		<link rel="stylesheet" href="../css/comm.css">
		<link rel="stylesheet" href="../css/search.css">
		<style type="text/css">
			.mbtenpx {
				margin-bottom: 10px;
			}
			.mui-input-row label {
				width: 31%;
			}
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 69%;
				float: left;
			}
			.textarea-row,
			textarea {
				height: 120px !important;
			}
			.textarea-row .mui-input-row:after {
				background: #fff;
			}
			.selecUsers .mui-row .delete-btn {
				text-align: right;
				color: #FF7B6D;
			}
			.selecUsers div.mui-row {
				padding: 0 15px;
				height: 46px;
				line-height: 46px;
				border-bottom: 1px solid #c8c7cc;
			}
			.deluser {
				color: #FF7B6D;
			}
		</style>
	</head>

	<body>
		<div id="app"></div>
		<script type="text/x-template" id="indexTpl">
			<div>
				<header class="mui-bar mui-bar-nav" id="header">
					<div class="mui-action-back mui-pull-left navicon-back1"></div>
					<h1 id="title" class="mui-title">新消息</h1>
					<div class="mui-pull-right back-text" @tap="send">发送</div>
				</header>
				<div class="mui-content">
					<div class="mui-input-group mbtenpx">
						<div class="mui-input-row">
							<label style="width: 26%;">主题：</label>
							<input style="widows: 74%;" type="text" v-model="subject">
						</div>
						<div class="mui-input-row">
							<a class="mui-navigate-right"></a>
							<label>收件人：</label>
							<span class="fr select-text" @tap="userPicker">添加收件人</span>
						</div>
						<div class="selecUsers">
							<div class="mui-row" v-for="(d,index) in addresseeUserId">
								<div class="mui-col-xs-9 mui-ellipsis" style="padding-left: 20px;"><span>{{d.nickName}}</span></div>
								<div class="mui-col-xs-3 delete-btn">
									<span @tap="delUser(d.userId)" style="color: #FF7B6D;">删除</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mui-input-group">
						<div class="mui-input-row textarea-row">
							<label style="width: 26%;">内容：</label>
							<textarea style="width: 74%;" v-model="body"></textarea>
						</div>
					</div>
				</div>
			</div>
		</script>

		<script src="../libs/js/mui.min.js"></script>
		<script src="../libs/js/mui.picker.min.js"></script>
		<script src="../libs/js/vue.min.js"></script>
		<script src="../js/comm.js"></script>
		<script src="../js/mixin.js"></script>

		<script>
			var vm = new Vue({
				el: '#app',
				template: indexTpl,
				mixins: [mixin],
				data: function() {
					return {
						subject: '',
						body: '',
						addresseeUserId: [],
						notDeleteds: 0,
						userList: [],
						selectId: '',
						selectName: '请选择',
					}
				},
				mounted: function() {
					/**获取收件人列表*/
					this.getUserList();
					/**获取选择收件人数组*/
					window.addEventListener('getUsers', function(e) {
						for(var i in e.detail.users) {
							this.addresseeUserId.push(e.detail.users[i])
						}
					}.bind(this))
				},
				methods: {
					plusReady: function() {
						var self = plus.webview.currentWebview();
						self.setStyle({
							scrollIndicator: 'none'
						});
					},
					/**发送消息*/
					send: function() {
						if(this.subject === '' || trim(this.subject) == '') {
							mui.alert('请填写主题！');
							return false;
						} else {
							if(this.subject.length > 50) {
								mui.alert('填写的主题不能超过50个字符');
								return false;
							}
						}
						if(this.body === '' || trim(this.body) == '') {
							mui.alert('请填写内容！');
							return false;
						} else {
							if(this.body.length > 1000) {
								mui.alert('填写的内容不能超过1000个字符');
								return false;
							}
						}
						if(this.addresseeUserId.length == 0) {
							mui.alert('选择收件人！');
							return false;
						}
						// 封装多人发送ids
						var UserIds = [];
						for(var i in this.addresseeUserId) {
							UserIds.push(this.addresseeUserId[i].userId)
						}

						// 先检查是否存在
						var vm = this;
						getDataList(APIURL + 'business/mailboxSender/isNullUser', {
							addresseeUserId: JSON.stringify(UserIds),
						}, function(d) {
							if(d && d.state == 0) {
								// 提交接口
								getDataList(APIURL + 'business/mailbox/create', {
										enterpriseId: vm.loginUserInfo.enterpriseId,
										userId: vm.loginUserInfo.userId,
										subject: vm.subject,
										body: vm.body,
										addresseeUserId: JSON.stringify(UserIds),
										notDeleteds: 1
									},
									function(d) {
										if(d && d.state == 0) {
											mui.toast("发送成功 ");
											mui.back();
										} else {
											mui.alert("发送失败")
										}
									})
							} else {
								mui.alert('收件人不存在（或已被删除）')
							}
						})
					},
					/**获取收件人*/
					getUserList: function() {
						getDataList(APIURL + 'business/user/list', {
							enterpriseId: this.loginUserInfo.enterpriseId,
							creditNumber: 0
						}, function(d) {
							if(d && d.state === 0 && d.aaData) {
								for(var i = 0, l = d.aaData.length; i < l; i++) {
									var o = {
										text: d.aaData[i].nickName,
										value: d.aaData[i].userId
									};
									// 原则上自己不能给自己发消息
									if(this.loginUserInfo.userId != d.aaData[i].userId) {
										this.userList.push(o)
									};
								}
							}
						}.bind(this))
					},
					/**选择收件人*/
					userPicker: function() {
						mui.openWindow({
							url: 'index_message_new_addUser.html',
							id: 'index_message_new_addUser.html',
							// 如果已经选择了的收件人到在添加过滤
							extras: {
								selectUsers: this.addresseeUserId
							}
						})
					},
					/**移除收件人*/
					delUser: function(id) {
						for(var i in this.addresseeUserId) {
							if(this.addresseeUserId[i].userId == id) {
								this.addresseeUserId.splice(i, 1)
							}
						}
					}
				}
			});
		</script>
		<script src="../js/immersed.js"></script>
	</body>

</html>